html,
body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Itim", cursive;
}

body {
  padding: 32px;
  box-sizing: border-box;
  background: linear-gradient(180deg, #f3f6f9 0%, #ffffff 100%);
}

* {
  box-sizing: border-box;
}

input {
  font-family: "Itim", cursive;
}

input:-internal-autofill-selected {
  background-color: #f5f8ff !important;
}

.container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  max-width: 768px !important;
  min-height: 650px;
  margin: 0 auto;
  padding: 32px 32px 56px;
  border-radius: 4px;
  border: 1px solid #e0e3e7;
  box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.13),
    0 0.3px 0.9px 0 rgba(0, 0, 0, 0.11);
  box-sizing: border-box;
  color: #1a2027;
  background-color: #ffffff;
}

.main-heading {
  width: fit-content;
  margin: 0;
  margin-bottom: 32px;
  font-size: 32px;
  background-image: linear-gradient(
    to right,
    #5f93f9,
    #ed54fe,
    #fe649d,
    #feae54
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.weather-result-container {
  display: none;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
}

.flex-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 100%;
  /* max-width: 316px; */
  margin-bottom: 32px;
}

.search-input-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  padding: 0 12px;
  border-radius: 16px;
  color: #8eb4ff;
  background-color: #f5f8ff;
}

.search-icon {
  font-size: 20px;
  margin-right: 8px;
}

.search-input {
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}

.search-input::placeholder {
  color: #8eb4ff;
}

.search-btn {
  min-width: 45px;
  height: 45px;
  padding: 0 12px;
  border-radius: 50%;
  border: none;
  outline: none;
  color: #f5f8ff;
  font-size: 22px;
  background-color: #5f93f9;
}

.search-btn:hover {
  cursor: pointer;
}

.city-info-container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  gap: 16px;
  margin-bottom: 32px;
}

.current-weather-card {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  width: 50%;
  padding: 16px;
  border-radius: 20px;
  background: radial-gradient(circle at 0% 0.5%, #92b5ff 0.1%, #6497ff 100.2%);
  box-shadow: 0 0.125rem 0.25rem #92b5ff !important;
  color: #fff;
}

.row-container {
  width: 50%;
}

.current-humidity-box {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  height: 62px;
  box-sizing: border-box;
  padding: 16px;
  border-radius: 20px;
  color: #fff;
  background: radial-gradient(circle at 0% 0.5%, #f99ac0 0.1%, #fe649d 100.2%);
  box-shadow: 0 0.125rem 0.25rem #f99ac0 !important;
  margin-bottom: 16px;
  text-transform: capitalize;
}

.current-place-box {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  height: 62px;
  box-sizing: border-box;
  padding: 16px;
  border-radius: 20px;
  color: #fff;
  background: radial-gradient(circle at 0% 0.5%, #fec380 0.1%, #feae54 100.2%);
  box-shadow: 0 0.125rem 0.25rem #fec380 !important;
}

.current-wind-box {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  height: 62px;
  box-sizing: border-box;
  padding: 16px;
  border-radius: 20px;
  color: #fff;
  background: radial-gradient(circle at 0% 0.5%, #f19efa 0.1%, #ed54fe 100.2%);
  box-shadow: 0 0.125rem 0.25rem #f19efa !important;
  margin-bottom: 16px;
}

.current-weahter-img {
  width: 80px;
  height: 80px;
  margin-bottom: 16px;
}

.current-temp-wrapper {
  position: relative;
  width: 100%;
  text-align: left;
  font-size: 34px;
  margin-bottom: 16px;
  color: #fff;
}

.current-temp-wrapper .current-temp {
  position: relative;
  font-size: 32px;
  color: #fff;
}

.current-temp-wrapper .current-weather-desc {
  font-size: 24px;
  color: #fff;
}

.current-temp-wrapper .temp-unit {
  position: absolute;
  top: -7px;
  right: -10px;
  font-size: 24px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  color: #fff;
}

.current-temp-wrapper .temp-unit:hover {
  /* border-bottom: 3px solid #0000ac; */
  color: #0000ac;
}

.current-date-time {
  width: 100%;
  text-align: left;
  font-size: 30px;
  color: #fff;
}

.time-txt {
  position: relative;
  bottom: -2px;
  color: #dcf2ffab;
}

.current-weather {
  width: 100%;
  text-align: left;
  font-size: 30px;
  margin-bottom: 18px;
  color: #fff;
}

.water-icon {
  color: #fff;
  margin-right: 8px;
}

.location-icon,
.wind-icon {
  margin-right: 8px;
}

.forecast-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
}

.forecast-card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 120px;
  padding: 16px 0;
  border-radius: 16px;
  box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.13),
    0 0.3px 0.9px 0 rgba(0, 0, 0, 0.11);
  background-color: #f5f8ff;
}

.forecast-icon {
  width: 50%;
  margin-bottom: 12px;
}

.forecast-day {
  color: #092354;
  margin-bottom: 12px;
  font-weight: 700;
}

.lower-temp {
  color: #c8c8c8;
}

.current-card {
  background: radial-gradient(circle at 0% 0.5%, #92b5ff 0.1%, #6497ff 100.2%);
}

.current-card .forecast-day,
.current-card .forecast-temp,
.current-card .lower-temp {
  color: #fff;
}

.empty-state {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 160px; */
  color: #6497ff;
}

footer {
  position: absolute;
  bottom: 8px;
  display: block;
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
}

footer a {
  color: #5f93f9;
  text-decoration: none;
}

@media all and (max-width: 768px) {
  body {
    padding: 16px;
  }

  .container {
    padding: 16px;
    padding-bottom: 56px;
  }
}

@media all and (max-width: 595px) {
  .city-info-container {
    flex-flow: column nowrap;
  }

  .current-weather-card,
  .row-container {
    width: 100%;
  }
}
